<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- 상단 메뉴 부분 -->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top shadow-lg" th:fragment="topMenu">
    <a class="navbar-brand" href="/">Sunny</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse"
            data-target="#navMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
        <ul class="navbar-nav" th:each="lists : ${#request.getAttribute('topMenuList')}">
            <li class="nav-item">
                <a th:href="@{/board/main(idx=${lists.board_type_idx})}" class="nav-link" th:text="${lists.board_type_name}"></a>
            </li>
        </ul>

        <ul class="navbar-nav ml-auto">
            <li th:if="${session['loginUserSession']} == null" class="nav-item">
                <a href="/user/login" class="nav-link">로그인</a>
            </li>
            <li th:if="${session['loginUserSession']} == null" class="nav-item">
                <a href="/user/join" class="nav-link">회원가입</a>
            </li>
            <li th:unless="${session['loginUserSession']} == null" class="nav-item">
                <a href="/user/modify" class="nav-link">정보수정</a>
            </li>
            <li th:unless="${session['loginUserSession']} == null" class="nav-item">
                <a href="/user/logout" class="nav-link">로그아웃</a>
            </li>
        </ul>
    </div>
</nav>